@import 'variables';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

h1 {
	font-family: $headerFont;
}

p {
	font-family: $bodyFont;
}

#masterContainer {
	width: 100%;
	height: 100%;
	@include greenBorder;
}

$section-list: header page footer;

@each $section in $section-list {
	##{$section}Container {
		width: $pageMobileWidth;
		margin: 0 auto;

		@include mediaTablet {
			width: $pageTabletWidth;
		}

		@include mediaDesktop {
			width: $pageFullWidth;
		}
	}
}

#headerContainer {
	@include yellowBorder;
}

#pageContainer {
	@include blueBorder;
}

#footerContainer {
	@include redBorder;
}
